@import "tailwindcss";

*{
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}
.appname{
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 800;
  font-style: normal;
}
.hero{
font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

